<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/variables.css">
    <link rel="stylesheet" href="../assets/css/tags.css">
    <link rel="stylesheet" href="../assets/css/class.css">
    <link rel="stylesheet" href="../assets/css/menu.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header class="menu">
        <aside class="menu-content white-bg">
            <h1><a href="#">LOGO</a></h1>
            <nav>
                <ul class="">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">first</a></li>
                    <li><a href="#">Secondary</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </nav>
        </aside>
    </header>

    <main>
        <section class="section svg-bg">
            <div class="section-content">
                <h1>HOME</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates odio corrupti, et labore debitis mollitia voluptatibus dolorem commodi, sapiente maiores nisi suscipit ipsum magni quae, reiciendis porro nesciunt eum iusto.</p>
            </div>
        </section>

        <section class="section white-bg">
            <div class="section-content">
                <h1>HOME</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates odio corrupti, et labore debitis mollitia voluptatibus dolorem commodi, sapiente maiores nisi suscipit ipsum magni quae, reiciendis porro nesciunt eum iusto.</p>
            </div>
        </section>

        <section class="section svg-bg">
            <div class="section-content">
                <h1>HOME</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates odio corrupti, et labore debitis mollitia voluptatibus dolorem commodi, sapiente maiores nisi suscipit ipsum magni quae, reiciendis porro nesciunt eum iusto.</p>
            </div>
        </section>
    </main>

    <footer>

    </footer>

    <script src="../assets/js/script.js"></script>
</body>

</html>